
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Fauna+One&family=Lobster+Two:ital,wght@1,700&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins";
    font-weight: 400;
}
html{
    scroll-behavior: smooth !important;
}   
#navbar{
    position:sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 5px 5px 20px #82caff;
    padding:-60px 15px
             5rem 5rem;   
}
.navbar-brand{
    font-weight: 600;
}
#navbarSupportedContent a{
    color: white;
    border-bottom: 2px solid transparent;
    margin: 0px 20px;
    display: inline-flex;
    text-decoration: none;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid whitesmoke;
}

/* .login-T,
.signup-T input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    position: relative;
} */

.no-outline:focus{
    outline: none;
}

/* #navbarSupportedContent button{
    /* background:#82caff; */
    
    /* flex-direction: row-reverse;
    border-radius: 15px;
    width: 5rem;
    margin: 0px 7px; */
/* */ 

.button-home{
     display: flex;
    flex-direction: row-reverse;
    outline: none;
     width: 20px;
    column-gap: -10px;
    background: transparent;
    position: absolute;
    right: 0;
}

.button-home button{
    border-radius: 5px;
}
/******home******************/

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.7)),url(image/bg.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    font-size: x-large;
    flex-direction: column;
}
#home h1{
    font-size: 50px;
    
    font-family:"poppins";
    letter-spacing: 1px;
    font-weight: lighter !important;
    text-shadow: 0px -1px 0px white;
}

#home a{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    margin-top: 15px;
    text-decoration: none;
    transition: 3s;
    color: #fbf6f6;
}


/**************************services*****************************/

#Services{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
     
    text-align: center;
    background-position: center;  
}

#Services h1{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 50px;
    text-align: center;
    color: white;
    margin:30px 0px ;
}

#plan{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.3),
                inset 10px 10px 20px white;
    border-radius: 12px;
    margin-top:130px ;
    text-decoration: none;  
}
#plan:hover{
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.3),
                inset 10px 10px 15px white;
}
#Services p{
    text-align: justify;
    color: black;
    margin: -5px 0px;
}
#Services button{
    margin-top: 30px ;
    height: 50px ;
    font-weight: 500;
    width: 200px;
    border-radius: 15px;
    text-decoration: none;
}
#services a{
    text-decoration: none;
}
#services a:hover{
    border-bottom: 2px solid white;
}
#plan1{
    border-radius: 12px;
    margin-top: 20px;
    box-shadow:10px 10px 20px #898c8b;

}
#center h1{
    color: white;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 800;  

}
#center p{
    color:black ;
    text-align: justify;
}
#plan1:hover{
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.3),
                inset 10px 10px 15px white;
}
#center button{
    margin-top: 20px;
}
#center2 h1{
    color: white;
    margin-top: -40px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 800;  

}
#center2 p{
    color:black ;
    text-align: justify;
}
#plan2:hover{
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.3),
                inset 10px 10px 15px white;
}
#center3 h1{
    color: white;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 800;  

}
#center3 p{
    color:black ;
    text-align: justify;
}
#plan3{
    border-radius: 12px;
    margin-top: 20px;
    box-shadow:10px 10px 20px #898c8b;
}
#plan3:hover{
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.3),
                inset 10px 10px 15px white;
}
#center3 button{
    margin-top: 20px;
}
#center4 h1{
    color: white;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 800;  

}
#center4 p{
    color:black ;
    text-align: justify;
}
#plan4{
    border-radius: 12px;
    margin-top: 20px;
    box-shadow:10px 10px 20px #898c8b;
}
#plan4:hover{
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.3),
                inset 10px 10px 15px white;
}
#center4 button{
    margin-top: 20px;
}
#center5 h1{
    color: white;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 800;  

}
#center5 p{
    color:black ;
    text-align: justify;
}
#plan5{
    border-radius: 12px;
    margin-top: 20px;
    box-shadow:10px 10px 20px #898c8b;
}
#plan5:hover{
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.3),
                inset 10px 10px 15px white;
}
#center5 button{
    margin-top: 20px;
}
#center6 h1{
    color: white;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 800;  

}
#center6 p{
    color:black ;
    text-align: justify;
}
#plan6{
    border-radius: 12px;
    box-shadow:10px 10px 20px #898c8b;
    margin-top:70px ;
}
#plan6:hover{
    box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.3),
                inset 10px 10px 15px white;
}
#center6 button{
    margin-top: 20px;
}
#pass h1{
    color:white;
    margin-top: 15px;

}
#booking{
    height: auto;
    width: 100%;
    background:linear-gradient(to left,#dedbd6,#145166,#536190);
    background-position: center;
    background-size: cover;
}

#booking [type=email],[type=text]{
    font-family: sans-serif;
}

#booking h1{
    font-family:sans-serif;
}

.plan7{
    align-items: center !important;
    justify-content: center !important;
    margin-top:60px !important;
    text-shadow: 1px 2px 1px #ffffff;
}

#form p{
    margin-top: 5px;
    margin-left: 10px;
    visibility: visible;
}

#form input:focus{
    border: 1px solid #fff !important;
    outline: 0;
}

#form input:valid{
    outline: none;
    border: 1px solid #09ff5f !important;
}

#form input:invalid{
    outline: none;
    border: 1px solid #f10909 !important;
}

.input-control input:focus{
    border: 1px solid #fff !important;
    outline: 0;
      
}

#now{
    box-shadow: inset 10px 10px 20px darkgray
                      40px 40px 50px white;    
    /* margin-top: 40px;        */
    margin-bottom: 30px;
    border-radius: 12px;       
}

[type=date]{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#booking button{
    height: 40px;
    width: 200px;
    margin: 30px 175px;
    border-radius: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#form{
    margin-top: 40px;
    /* background-color: #d0c63a; */
}

/* footer{
    background:  #6B5B99;
    color:black;
    text-align: center;
    height: 25px;
    width: 100%;
    margin-top: -5px;
    font-size: 14px;
    padding-top: 3px;
    letter-spacing: 2px;
} */

.heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #0dcaf0;
    color: #ffffff;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-bottom: 13px;
    text-decoration: underline;
}
.row{
    position: relative;
} 
.que{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.que ul li{
    list-style: none;  
    text-decoration: none; 
    display: block;
    width: 100% !important;
    float:inline-end;
    padding-bottom: 10px;
    overflow: hidden;

}
.que a{
    text-decoration: none;
}

.que ul li a{
    text-decoration: none;   
}
.ans{
    margin-top: 20px;
    margin-left: 10px;
}
.ans h4{
    position: absolute;
    margin-left: 10px;
    margin-top: -10px;
    color: rgb(50, 50, 177);
}

/***********************contact **********************/
/* .bi {
    color: #fff;
} */
#contact{    
    background: #b91010; 
    width: 100%;
    min-height: 30vh;
    position: relative;
}
#head-c{
    color: rgb(229, 229, 229);
    display: none;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    top: 2px;
    right: 0;
    text-align: center;
}
.address h6{  
    color: rgb(243, 243, 243) ;
    font-weight: lighter;
    position: relative; 
    top: 10px;
}

.address i{
    background-color: #fff;
    color: #fff !important;
}
.address p{
    color:  #6B5B99;
    margin-top: -30px;
    position: relative;
    top: 10px;
    left: 10px;
}

#Terms ul li{
    list-style: none;
    position: relative;
}
#Terms ul li a{
    text-decoration: none;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    color: #6B5B99;
}
#Terms ul li a:hover{
    text-decoration: underline;
}
.refund{
    margin-top: 5px;
}
#Terms h6{
    margin: 60px;
    position: absolute;
    top: 30px;
    display: grid;
    right: 20px;   
}
.images{
    margin-top: 90px;
    margin-right: -40px;
    height: 40px;
    width: 130px;
    position: absolute;
    right: 90px;
    display: inline-flex;
    justify-content: space-around;
}

/***************login***************/

[type=email],[type=text],[type=password] {
    padding: 1em 15px 1em 1em;
}

#login{
    background:url("./image/bg\ account.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-color:  transparent;
    border-radius: 8px;
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.7);
    animation:login 5s ease-in 1 alternate;
    animation-duration: 2s;
    transition: 2s;
    transform: translateY(50px); 
}
.login:hover{
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
}
.log-H{
    font-family: 'Dangrek', cursive; ;
    color: #E6E6FA;
    font-weight: 700;
    padding-top: 13px;
    position: relative;
    text-decoration: underline;
}
.UserName{
    padding-top: 20px;
    outline: none;
    border: none;
    width: 250px;
    margin-bottom: 35px;
    position: relative;
    left: 10%;
    text-align: center;
}

.UserName input{
    position: absolute;
    top: auto;
    left: 7%;
    width: 83%;
    height: 30px;
    border-radius: 7px;
    border: none;
}

::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-left: 10px;
}
.U-Password{
    padding-top: 20px;
    outline: none;
    border: none;
    width: 250px;
    margin-bottom: 35px;
    position: relative;
    left: 10%;
    text-align: center;
}

.U-Password input{
    position: absolute;
    top: auto;
    left: 7%;
    width: 83%;
    height: 30px;
    border-radius: 7px;
    border: none;
}

.f-password {   
    color: #E6E6FA;
    text-decoration: none;
    display: flex;
    float: right;
    padding-top: 5px;
    margin-right: 35px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.f-password:hover{
    color: rgb(37, 37, 104); 
}
.login button{
    margin-top: 10px;
    width: 80%;
    border-radius: 10px;
    background: #E6E6FA; ;
    color: #262626;
    outline: none;
    border: none;
    font-family: 'Dangrek', cursive; ;
}

.login button:hover{
    background: lightgreen; 
    border: none;
    outline: none;    
}

.login p{
    width: 250px;
    position: absolute;
    left: 7%;
    padding-top: 10px;
    color: #E6E6FA;
    font-family: 'Poppins', sans-serif;
    font-size:12px ;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
}

form a{ 
    padding-top:-10px ;
    padding-left:5px ;
    color: #E6E6FA !important;
    text-decoration: none;
    cursor: pointer;
}

form a:hover{
    text-decoration: underline;
    color: rgb(37, 37, 104) !important;
}

/***********Signup************/

#SignUp{
    background:url("./image/bg\ account.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.SignUp{
    height: 300px;
    width: 300px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-color:  #6B5B99;
    border-radius: 8px;
    box-shadow: 7px 8px 20px rgba(0, 0, 0, 0.7);
    animation:signup 5s ease-in 1 alternate;
    animation-duration: 2s;
    transition: 2s;
    transform: translateY(50px);  
}

.SignUp:hover{
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.1);
}

.Sign-H{
    font-family: 'Dangrek', cursive; ;
    color: #E6E6FA;
    font-weight: 700;
    padding-top: 13px;
    position: relative;
    text-decoration: underline;
    margin-left: 40%;
}

.Name{
    padding-top: 20px;
    outline: none;
    border: none;
    width: 250px;
    margin-bottom: 35px;
    position: relative;
    left: 10%;
    text-align: center;
}

.Name input{
    position: absolute;
    top: auto;
    left: 7%;
    width: 83%;
    height: 30px;
    border-radius: 7px;
    border: none;
}

::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.S-Email{
    padding-top: 20px;
    outline: none;
    border: none;
    width: 250px;
    margin-bottom: 35px;
    position: relative;
    left: 10%;
    text-align: center;
}

.S-Email input{
    position: absolute;
    top: auto;
    left: 7%;
    width: 83%;
    height: 30px;
    border-radius: 7px;
    border: none;
}

.S-Password{
    padding-top: 20px;
    outline: none;
    border: none;
    width: 250px;
    margin-bottom: 35px;
    position: relative;
    left: 10%;
    text-align: center;
}

.S-Password input{
    position: absolute;
    top: auto;
    left: 7%;
    width: 83%;
    height: 30px;
    border-radius: 7px;
    border: none;
}

.Signup button{
    margin-top: 30px;
    margin-left: 22px;
    width: 100%;
    border-radius: 10px;
    background: #E6E6FA; ;
    color: #262626;
    outline: none;
    border: none;
    font-family: 'Dangrek', cursive; ;
}

.Signup button:hover{
    background: lightgreen; 
    border: none;
    outline: none; 
}

form p{
    margin-left: 40px;
}

form a{
    color: #1313b9c1;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

/* .S-Password a:hover{
    color: blue; 
} */
.Signup p{
    padding-top: 6px;
    color: #ccd5e9;
    font-family: 'Poppins', sans-serif;
    font-size:13px ;
}
.Signup p a{
   text-decoration: none;
   color:#ccd5e9;
}
.Signup p a:hover{
    color: rgb(37, 37, 104);
    text-decoration:underline;
}

@keyframes login {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(50px);
    }
}

@keyframes signup {
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(50px);
    }
}

/**************footer***********************/ 


/* body {
    background: #fbfbfd;
} */

.new_footer_area {
    background: #fbfbfd;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}


.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: relative;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.f_social_icon i{
    position: absolute;
    top: 20%;
    left: 20%;
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #5e2ced;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
footer h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
    background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/* @-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  } */
/* } */

/* @keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
} */
